@tailwind base;
@tailwind components;
@tailwind utilities;

html {

    background-color: #000000;
    color: #ffffff;

}


@media (min-width: 1024px) {
    .lessThenlargeScreen-nav {
        display: none;
    }
}
@media (max-width: 1024px) {
    .largeScreen-nav {
        display: none;
    }

}